extends ../../layout

block content
	.container
		.row
			h3 #{title}
	.container
		.row
			.col-md-7
				embod(src="#{movie.flash}",allowFullScreen="true",quality="high",width="720",height="600",align="middle",type="application/x-shockwave-flash")
				.panel.panel-default
					.panel-heading
						h4 Comments
					.panel-body
						ul.media-list
							each item in comments
								li.media
									.pull-left
										img.media-object(src="",style="width:64px;height:64px;")
										h5.media-heading #{item.from.name}
										p #{item.content}
						hr
				form(method="POST",action="/admin/comment")
					input(type="hidden",name="comment[movie]",value="#{movie._id}")
					input(type="hidden",name="comment[from]",value="#{user._id}")
					.form-group
						textarea.form-control(type="text",name="comment[content]",value="#{comment.content}",row="3")
					button.btn.btn-primary(type="submit") Submit
			.col-md-5
				.dl-horizontal
					dt 电影
					dd= movie.title
					dt 导演
					dd= movie.doctor
					dt 国家
					dd= movie.country
					dt 语言
					dd= movie.language
					dt 年份
					dd= movie.year
					dt 简介
					dd= movie.summary
