extends ../layout

block content
	//- .container
	//- 	.row
	//- 		h3 #{title}
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th path
						th ip
						th updateAt
				tbody
					each item in logs
						tr(id="tr-#{item._id}")
							th #{item.path}
							th #{item.ip}
							th #{moment(item.meta.updateAt).format('YYYY MM DD | HH:mm:ss')}
