extends ../layout

block content
	.container
		.row
			h3 #{title}
	.container
		.row
			a.btn.btn-primary(target="_blank",href="../admin/movie") add
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th name
						th updateAt
						th view
						th update
						th delete
				tbody
					each item in users
						tr(id="tr-#{item._id}")
							th #{item.name}
							th #{moment(item.meta.updateAt).format('YYYY MM DD')}
							th 
								a(target="_blank",href="../movie/#{item._id}") view
							th 
								a(target="_blank",href="../admin/movie/#{item._id}") update
							th 
								button.btn.btn-danger.del(type="button",data-id="#{item._id}") delete
	//- script(src="/js/main.js")
